* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --border-radius: 5px;
    --universal-margin:1em;

}

body {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    max-width: fit-content;
    height: fit-content ;
    border: 2px solid black;
    border-radius: var(--border-radius);
    
}

.container input {
    
    width: 18vw;
    height: fit-content;
    font-size: 20px;
    text-align: right;
    border-radius: var(--border-radius);
    margin: 5px 5px 2px 5px;
    padding: 5px 5px;
    

    



}

.calculator-buttons {
    display: grid;
    grid-template: repeat(5, 1fr)/repeat(4, 1fr);
    margin: 2px 5px 2px 5px;


}

.all-buttons {
    font-size: large;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin: 5px

}

.clear {
    grid-column: span 2;
}

.zero {
    grid-column: span 2;
}